body {
    background-color:grey;
}

header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Додати тінь до контейнера */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    flex: 1;
    text-align: center;
    margin-left: 20px; /* Задайте відступ від логотипу на ваш розсуд */
}

/* Медіа-запит для адаптивної розмітки */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        width: 50%; /* Задаємо ширину логотипу для більших екранів */
    }
    h1 {
        font-size: 40px; /* Задаємо більший розмір заголовка для більших екранів */
    }
}
.logo-container {
    width: 150px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: dimgrey;
    border: 3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Додайте відступ знизу до логотипу */
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.logo-container:hover {
    background-color: lightslategray;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    align-items: stretch;
}

.column {
    flex: 1;
    background-color: #c7c7c7;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Додати тінь до контейнера */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/**/
